$purple-main: #7E3FE0;

@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind/Hind-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

.purple {
  background-color: $purple-main;
  min-height: 400dvh;
  width: 100%;
  position: relative;

  &__title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
      overflow: hidden;

      h2 {
        color: #fff;
        font-size: 10rem;
        font-family: 'Hind', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1;
      }
    }
  }

  &__motif {
    height: 100vh;
    &__wrapper {
      background-color: #fff;
      display: inline-block;
      padding: .2rem;

      span {
        color: $purple-main;
        font-size: 4rem;
        font-family: 'Hind', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1;
      }
      
    }
  }
}
