$purple-main: #7E3FE0;

@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind/Hind-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

.purple {
  background-color: $purple-main;
  width: 100%;
  position: relative;

  &__steps {
    position: relative;
    height: 100vh;
  }
}