$purple-main: #7E3FE0;

@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind/Hind-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

.purple {
  background-color: $purple-main;
  min-height: 400dvh;
  width: 100%;
  position: relative;

  &__step2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      color: #fff;
      font-size: 2rem;
      font-weight: 800;
      font-family: "Hind", sans-serif;
    }
  }
}