.scrollBar {
    width: 100%;
    height: 10px;
    background-color: #d9c1ff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

    &__inner {
        width: 0%;
        height: 100%;
        background-color: #502397;
        will-change: width;
    }
}