$purple-main: #7e3fe0;

.purple__title {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    color: #fff;

    &__top {
      text-align: center;
      display: block;
      font-size: clamp(1.2rem, 4vw, 3rem);

      span {
        display: block;
      }
    }

    &__text {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      overflow: hidden;

      &__left {
        text-align: left;
        font-size: clamp(0.9rem, 2.5vw, 2rem);
        font-weight: 800;
        font-family: "Hind", sans-serif;
        transform: translateX(40px);
      }

      &__right {
        text-align: right;
        font-size: clamp(5rem, 22vw, 20rem);
        font-family: "Hind", sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 0.8;
      }
    }
  }
}
