.Horizontal {
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
}

@font-face {
  font-family: 'Amoria';
  src: url('../../../public/fonts/Amoria/Amoria.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.Horizontal__text {
  display: flex;
  width: max-content;
  white-space: nowrap;
  gap: 4vw;
  padding-left: 100vw;
}

.heading-xl {
  font-size: clamp(2rem, 10vw, 12rem);
  font-weight: 600;
  line-height: 1.1;
  font-family: 'Amoria', sans-serif;
}
